{% extends 'master.html' %}
{% load static %}
{% block title %}
  CRRI - List of all Members
{% endblock %}

{% block content %}
<p><a href="/print">PRINT</a> </p>
<h1>Members</h1>
<div class="table-container">
  <table class="table table-striped table-hover">
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th>Intercom Office</th>
      <th>Intercom Residence</th>
      <th>Mobile Number</th>
      <th>Division</th>
      <th>Designation</th>
      <th>Email</th>
      <th>Journal Article(s) Published</th>
      <th>Conference Paper(s) Published</th>
      <th>Book(s) Published</th>
      <th>Worked with Intern(s)</th>
      <th>Conferences Attended</th>
    </tr>

    {% for mymember in mymembers %}
      <tr>
        <td style="background-color: rgba(0, 64, 128, 0.8);"><a href="/members/details/{{ mymember.name }}">{{ mymember.name }}</a></td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ mymember.employee_id }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ mymember.intercom_off|default:"-" }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ mymember.intercom_res|default:"-" }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ mymember.phone_number }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ mymember.department }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ mymember.designation }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ mymember.email }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ mymember.jpub|default:"-" }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ mymember.cpub|default:"-" }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ mymember.bpub|default:"-" }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ mymember.number_of_interns|default:"-" }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ mymember.conferences_attended|default:"-" }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}




