{% extends 'master.html' %}

{% block title %}
  CRRI - List of All Divisions
{% endblock %}

{% block content %}
  <h1>DIVISIONS</h1>
  <div class="card-container">

    <p class="card">
      <a href="{% url 'divmembers' 'Director-Office' %}" >
      Director's Office</a>
    </p>
    <p class="card">
      <a href="{% url 'divmembers' 'Controller-of-Administration' %}" >
      Controller of Administration</a>
    </p>
    <p class="card">
      <a href="{% url 'divmembers' 'Administration-Office' %}" >
        Administration Office</a>
    </p>
    <p class="card">
      <a href="{% url 'divmembers' 'Finance-and-Accounts-Section' %}" >
        Finance and Accounts Section</a>
    </p>
    <p class="card">
      <a href="{% url 'divmembers' 'Store-and-Purchase-Section' %}" >
        Store and Purchase Section</a>
    </p>
    <p class="card">
      <a href="{% url 'divmembers' 'Establishment-Section-I' %}" >
        Establishment Section I</a>
    </p>
    <p class="card">
      <a href="{% url 'divmembers' 'Establishment-Section-II' %}" >
        Establishment Section II</a>
    </p>
    <p class="card">
      <a href="{% url 'divmembers' 'Personnel-Cell' %}" >
        Personnel Cell</a>
    </p>
    <p class="card">
      <a href="{% url 'divmembers' 'Vigilance-Section' %}" >
        Vigilance Section</a>
    </p>
    <p class="card">
      <a href="{% url 'divmembers' 'Rajbhasha' %}" >
        Rajbhasha</a>
    </p>
      <p class="card">
        <a href="{% url 'divmembers' 'Bridge-Engineering-and-Structures-Division' %}">
          Bridge Engineering and Structures Division</a>
      </p>
      <p class="card">
        <a href="{% url 'divmembers' 'Geotechnical-Engineering-Division' %}" >
          Geotechnical Engineering Division</a>
      </p>
      <p class="card">
        <a href="{% url 'divmembers' 'Flexible-Pavements-Division' %}" >
        Flexible Pavements Division</p>
      <p class="card">
        <a href="{% url 'divmembers' 'Rigid-Pavements-Division' %}" >
        Rigid Pavements Division
      </p>
      <p class="card">
        <a href="{% url 'divmembers' 'Pavement-Evaluation-Division' %}" >
        Pavement Evaluation Division
      </p>
      <p class="card">
        <a href="{% url 'divmembers' 'Traffic-Engineering-and-Safety-Division' %}" >
          Traffic Engineering and Safety Division</a>
      </p>
      <p class="card">
        <a href="{% url 'divmembers' 'Transportation-Planning-and-Environment-Division' %}" >
          Transportation Planning and Environment Division</a>
      </p>
      <p class="card">
        <a href="{% url 'divmembers' 'Planning-Monitoring-and-Evaluation-Division' %}" >
          Planning Monitoring and Evaluation Division</a>
      </p>
      <p class="card">
        <a href="{% url 'divmembers' 'Information-Liaison-and-Training-Division' %}" >
        Information Liaison and Training Division</a>
      </p>
      <p class="card">
        <a href="{% url 'divmembers' 'Knowledge-Resource-Centre' %}" >
          Knowledge Resource Centre</a>
      </p>
      <p class="card">
        <a href="{% url 'divmembers' 'Computer-Centre-and-Network-Division' %}" >
          Computer Centre and Network Division</a>
      </p>
      <p class="card">
        <a href="{% url 'divmembers' 'Engineering-Services-Division' %}" >
          Engineering Services Division</a>
      </p>
      <p class="card">
        <a href="{% url 'divmembers' 'Mechanical-and-Transport-Division' %}" >
          Mechanical and Transport Division</a>
      </p>
      <p class="card">
        <a href="{% url 'divmembers' 'Quality-Management-Division' %}" >
          Quality Management Division</a>
      </p>
      <p class="card">
        <a href="{% url 'divmembers' 'MBSQ-Maintenance-Division' %}" >
          MBSQ Maintenance Division</a>
      </p>
      <p class="card">
        <a href="{% url 'divmembers' 'Horticulture' %}" >
          Horticulture</a>
      </p>
      <p class="card">
        <a href="{% url 'divmembers' 'Right-to-Information-Cell' %}" >
          Right to Information Cell</a>
      </p>
      <p class="card">
        <a href="{% url 'divmembers' 'Canteen' %}" >
          Canteen</a>
      </p>
      <p class="card">
        <a href="{% url 'divmembers' 'Guest-House' %}" >
          Guest House</a>
      </p>
      <p class="card">
        <a href="{% url 'divmembers' 'Security-Section' %}" >
          Security Section</a>
      </p>
      <p>
        Back to <a href="/members" style="color: #ffd700; text-decoration: underline;">Members</a>
      </p>
    </div>
  </div>
{% endblock %}
