{% extends 'master.html' %}

{% block title %}
  {{ department_name }}
{% endblock %}

{% block content %}
<p><a href="/print">PRINT</a></p>
  <h1>{{ department_name }}</h1>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Intercom Office</th>
      <th>Intercom Residence</th>
      <th>Mobile Number</th>
      <th>Division</th>
      <th>Designation</th>
      <th>Email</th>
      <th>Papers Published</th>
      <th>Worked with Intern(s)</th>
    </tr>

    {% for x in mymembers %}
      <tr>
        <td><a href="/members/details/{{ x.name }}">{{ x.name }}</a></td>
        <td>{{ x.intercom_off }}</td>
        <td>{{ x.intercom_res }}</td>
        <td>{{ x.phone_number }}</td>
        <td>{{ x.department }}</td>
        <td>{{ x.designation }}</td>
        <td>{{ x.email }}</td>
        <td>{{ x.pprs_published }}</td>
        <td>{{ x.number_of_interns }}</td>
      </tr>
    {% endfor %}
  </table>
  <p><a href="/">Back to Divisions</a></p>
{% endblock %}