{% extends 'master.html' %}

{% block title %}
  {{ department_name }}
{% endblock %}

{% block content %}
  <h1>{{ department_name }}</h1>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th>Intercom Office</th>
      <th>Intercom Residence</th>
      <th>Mobile Number</th>
      <th>Division</th>
      <th>Designation</th>
      <th>Email</th>
      <th>Journal Article(s) Published</th>
      <th>Conference Paper(s) Published</th>
      <th>Book(s) Published</th>
      <th>Worked with Intern(s)</th>
      <th>Conferences Attended</th>
    </tr>

    {% for x in mymembers %}
      <tr>
        <td style="background-color: rgba(0, 64, 128, 0.8);"><a href="/members/details/{{ x.name }}">{{ x.name }}</a></td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ x.employee_id }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ x.intercom_off }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ x.intercom_res }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ x.phone_number }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ x.department }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ x.designation }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ x.email }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ x.jpub }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ x.cpub }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ x.bpub }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ x.number_of_interns }}</td>
        <td style="background-color: rgba(0, 64, 128, 0.8);">{{ x.conferences_attended }}</td>
      </tr>
    {% endfor %}
  </table>
  <p><a href="/divisions">Back to Divisions</a></p>
{% endblock %}