{% load static %}
{% comment %} <form method="post">
    {% csrf_token %}
    <label for="employee_id">Employee ID:</label>
    <input type="text" name="employee_id" required><br>

    <label for="password">Password:</label>
    <input type="password" name="password" required><br>

    <button type="submit">Login</button>
</form> {% endcomment %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login_page.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Login</h2>
            <p>Please enter your Employee ID and your Password</p>
            <form method="post">
                {% csrf_token %}
                <div class="input-container">
                    <label for="employee_id"><i class="fas fa-user"></i></label>
                    <input type="text" id="employee_id" name="employee_id" placeholder="Employee ID" required
                    style="
    padding-right: -5;
    padding-left: 0px;
    padding-right: -5;
">
                </div>
                <div class="input-container">
                    <label for="password"><i class="fas fa-key"></i></label>
                    <input type="password" id="password" name="password" placeholder="Password" required
                    style="
    padding-right: -5;
    padding-left: 0px;
    padding-right: -5;
">
                </div>
                <button type="submit" class="login-button">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
