{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CRRI{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'mystyles.css' %}">
</head>
<body>
    </div> <div class="topnav">
        <a href="/">Home</a>
        <a href="/members">Members</a>
        <a href="/divisions">Divisions</a>
        <a href="/login">Login</a>
    </div>
    <div class="main">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
