{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'login_page.css' %}"> 
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/members">Members</a>
        <div class="dropdown">
            <button class="dropbtn" style>R&D Areas</button>
            <div class="dropdown-content">
                <a href="{% url 'divmembers' 'Bridge-Engineering-and-Structures-Division' %}">Bridge Engineering and Structures</a>
                <a href="{% url 'divmembers' 'Geotechnical-Engineering-Division' %}">Geotechnical Engineering Division</a>
                <a href="{% url 'divmembers' 'Flexible-Pavements-Division' %}">Flexible Pavements Division</a>
                <a href="{% url 'divmembers' 'Pavement-Evaluation-Division' %}" >Pavement Evaluation Division</a>
                <a href="{% url 'divmembers' 'Rigid-Pavements-Division' %}" >Rigid Pavements Division</a>
                <a href="{% url 'divmembers' 'Transportation-Planning-and-Environment-Division' %}" >Transportation Planning and Environment Division</a>
                <a href="{% url 'divmembers' 'Traffic-Engineering-and-Safety-Division' %}" >Traffic Engineering and Safety Division</a>               
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">R&D Management Areas</button>
            <div class="dropdown-content">
                <a href="{% url 'divmembers' 'Knowledge-Resource-Centre' %}">Knowledge Resource Centre</a>
                <a href="{% url 'divmembers' 'Director-Office' %}">Director's Office</a>
                <a href="{% url 'divmembers' 'Controller-of-Administration' %}" >Controller of Administration</a>
                <a href="{% url 'divmembers' 'Administration-Office' %}" >Administration Office</a>
                <a href="{% url 'divmembers' 'Computer-Centre-and-Network-Division' %}" >Computer Centre and Network Division</a>
                <a href="{% url 'divmembers' 'Information-Liaison-and-Training-Division' %}" >Information Liaison and Training Division</a>
                <a href="{% url 'divmembers' 'Planning-Monitoring-and-Evaluation-Division' %}" >Planning Monitoring and Evaluation Division</a>
                <a href="{% url 'divmembers' 'Engineering-Services-Division' %}" >Engineering Services Division</a>          
                <a href="{% url 'divmembers' 'Mechanical-and-Transport-Division' %}" >Mechanical and Transport Division</a>
                <a href="{% url 'divmembers' 'Quality-Management-Division' %}" >Quality Management Division</a>
                <a href="{% url 'divmembers' 'MBSQ-Maintenance-Division' %}" >MBSQ Maintenance Division</a>                
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Administration</button>
            <div class="dropdown-content">
                <a href="{% url 'divmembers' 'Establishment-Section-I' %}">Establishment Section I</a>
                <a href="{% url 'divmembers' 'Establishment-Section-II' %}">Establishment Section II</a>
                <a href="{% url 'divmembers' 'Finance-and-Accounts-Section' %}" >Finance and Accounts Section</a>
                <a href="{% url 'divmembers' 'Store-and-Purchase-Section' %}" >Store and Purchase Section</a>            
                <a href="{% url 'divmembers' 'Personnel-Cell' %}" >Personnel Cell</a>
                <a href="{% url 'divmembers' 'Vigilance-Section' %}" >Vigilance Section</a>
                <a href="{% url 'divmembers' 'Rajbhasha' %}" >Rajbhasha</a>
                <a href="{% url 'divmembers' 'Right-to-Information-Cell' %}" >Right to Information Cell</a>
                <a href="{% url 'divmembers' 'Canteen' %}" >Canteen</a>
                <a href="{% url 'divmembers' 'Guest-House' %}" >Guest House</a>
                <a href="{% url 'divmembers' 'Horticulture' %}" >Horticulture</a>
                <a href="{% url 'divmembers' 'Security-Section' %}" >Security Section</a>
            </div>
        </div>
    </div>
    <div class="login-container">
        <div class="login-box" style="padding-left:70px; padding-right:70px; padding-top:40px; padding-bottom:70px; margin-right:150px" >
            <h2>Reset Your Password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="input-container">
                    <label for="{{ form.employee_id.id_for_label }}" styles="padding-left: 10px"></label>
                    {{ form.employee_id }}
                    {{ form.employee_id.errors }}
                </div>
                <div class="input-container">
                    <label for="{{ form.old_password.id_for_label }}" styles="padding-left: 10px"></label>
                    {{ form.old_password }}
                    {{ form.old_password.errors }}
                </div>
                <div class="input-container">
                    <label for="{{ form.new_password.id_for_label }}" styles="padding-left: 10px"></label>
                    {{ form.new_password }}
                    {{ form.new_password.errors }}
                </div>
                <button type="submit" class="login-button">Reset Password</button>
            </form>
        </div>
    </div>
</body>
</html>

