{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'login_page.css' %}"> 
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/members">Members</a>
        <a href="/divisions">Divisions</a>
    </div>
    <div class="login-container">
        <div class="login-box" style="padding-left:70px; padding-right:70px; padding-top:70px; padding-bottom:70px" >
            <h2>Reset Your Password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="input-container">
                    <label for="{{ form.employee_id.id_for_label }}" styles="padding-left: 10px"></label>
                    {{ form.employee_id }}
                    {{ form.employee_id.errors }}
                </div>
                <div class="input-container">
                    <label for="{{ form.old_password.id_for_label }}" styles="padding-left: 10px"></label>
                    {{ form.old_password }}
                    {{ form.old_password.errors }}
                </div>
                <div class="input-container">
                    <label for="{{ form.new_password.id_for_label }}" styles="padding-left: 10px"></label>
                    {{ form.new_password }}
                    {{ form.new_password.errors }}
                </div>
                <button type="submit" class="login-button">Reset Password</button>
            </form>
        </div>
    </div>
</body>
</html>

{% comment %} 
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'login_page.css' %}">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/members">Members</a>
        <a href="/divisions">Divisions</a>
    </div>
    <div class="login-container">
        <div class="login-box" style="padding-left:70px; padding-right:70px; padding-top:70px; padding-bottom:70px">
            <h2>Reset Your Password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="input-container">
                    {{ form.employee_id.label_tag }}
                    {{ form.employee_id }}
                    {{ form.employee_id.errors }}
                </div>
                <div class="input-container">
                    {{ form.old_password.label_tag }}
                    {{ form.old_password }}
                    {{ form.old_password.errors }}
                </div>
                <div class="input-container">
                    {{ form.new_password.label_tag }}
                    {{ form.new_password }}
                    {{ form.new_password.errors }}
                </div>
                <button type="submit" class="login-button">Reset Password</button>
            </form>
        </div>
    </div>
</body>
</html>
    `` {% endcomment %}