body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    box-sizing: border-box;
}

/* Topnav CSS */
.topnav {
    background-color: #AA184E;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 50px;
}

.topnav a, .topnav .dropbtn {
    text-decoration: none;
    color: #ffffff;
    padding: 15px 20px;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    height: 100%;
}

.topnav a:hover,
.topnav a:active,
.topnav .dropbtn:hover {
    color: white;
    text-decoration: underline;
}

.dropbtn {
    background-color: #AA184E;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }


/* Dropdown CSS */
.dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
    background-color: #AA184E;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #AA184E;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #323e4d;
    color:white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Details Container CSS */
.details-container {
    margin-top: 70px; /* To avoid the content being hidden behind the navbar */
    padding: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.details-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Input Container CSS */
.input-container {
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Update Button CSS */
.update-button {
    background-color: #AA184E;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-button:hover {
    background-color: #880E3E;
}
